body {
    color: white;
    overflow-x: hidden;
}

#nav-list li {
    display: inline-block;
    padding: 1rem;
    position: relative;
    top: 50%;
    bottom: 50%;
    margin-right: 2rem!important;
}

.bg-dark {
    background-color: black!important;
}

#header-bg {
    background: url('/WP-Theme/images/header-bg.jpg')no-repeat center center fixed;
    background-size: cover;
    height: 400px;
}

#nav-header {
    margin-left: 2rem!important;
}

#selfie-image {
    height: 200px;
    size: cover;
}

li {
    list-style-type: none;
}

@media (max-width: 750px) {
    body {
        font-size: 24px;
    }
}

.display-1 {
    position: relative!important;
    top: 25%!important;
}


@media (max-width: 500px) {
    .para-margin {
        margin-top: 8rem!important;
    }
}
