body {
    color: white;
    overflow-x: hidden;
}

#nav-list li {
    display: inline-block;
    padding: 1rem;
    position: relative;
    top: 50%;
    bottom: 50%;
    margin-right: 2rem!important;
}

.bg-dark {
    background-color: black!important;
}

#header-bg {
    background: url('/WP-Theme/images/header-bg.jpg')no-repeat center center fixed;
    background-size: cover;
    height: 400px;
}

#nav-header {
    margin-left: 2rem!important;
}

.selfieGeorge {
    background: url('images/nigel-tadyanehondo--RRwUNRptzY-unsplash.jpg') fixed;
    height: 250px;  
    background-size: cover;
    background-position-y: -375px;
    background-position-x: -475px;
}

li {
    list-style-type: none;
}

@media (max-width: 750px) {
    body {
        font-size: 24px;
    }
}

.display-1 {
    position: relative!important;
    top: 25%!important;
}


@media (max-width: 500px) {
    .para-margin {
        margin-top: 8rem!important;
    }
}


.selfieJank {
    background: url('images/janko-ferlic-specialdaddy-qzDF5PNEWKc-unsplash.jpg')no-repeat center center fixed;
    height: 250px;  
    background-size: cover;
    background-position-y: -475px;
}

.selfieTikk {
    background: url('images/tikkho-maciel-Oed8cpob9VM-unsplash.jpg')no-repeat center center fixed;
    height: 250px;
    background-size: cover;
    background-position-y: -50px;
    background-position-x: 500px;
}

@media (max-width: 990px) {
    .selfieGeorge {
        background: url('images/nigel-tadyanehondo--RRwUNRptzY-unsplash.jpg')no-repeat center center fixed;
        height: 250px;  
        background-size: cover;
        background-position-y: center;
        background-position-x: center;
    }

    .selfieJank {
        background: url('images/janko-ferlic-specialdaddy-qzDF5PNEWKc-unsplash.jpg')no-repeat center center fixed;
        height: 250px;  
        background-size: cover;
        background-position-y: center;
    }

    .selfieTikk {
        background: url('images/tikkho-maciel-Oed8cpob9VM-unsplash.jpg')no-repeat center center fixed;
        height: 250px;
        background-size: cover;
        background-position-y: center;
    }
}